* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #e2e0e0;
}

ul{
    list-style: none;
}

.bold{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #444;
    transition: .5s;
}

a:hover{
    color: #37a1f7;
}

/* Navbar */

.navbar{
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #9e9e9e;
}

.navbar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.links-nav{
    display: flex;
    gap: 1rem;
}

.container{
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.posts-container{
    flex: 3 1 0;
}

.post img{
    width: 100%;
    margin-bottom: 1rem;
}

.title,
.description{
    margin-bottom: 1rem;
}

.title{
    font-size: 2rem;
    margin: 2.5rem 0 1rem;
}

.listas-gerais ul li{
    padding: 10px;
}

ol li{
    list-style: none;
    margin-bottom: 12px;
}

#link-lgpd{
    background-color: #b9b7b79a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    margin-top: 20px;

}

.listas-gerais{
    background-color: #b9b7b79a;
    padding: 10px 5px;
    margin: 2rem 0;
}

/* side-bar */

.side-bar{
    flex: 1 1 0;
}

.categorias,
.tags{
    padding: 1.5rem;
    border: 1px solid #a1a0a0;
    margin-bottom: 1rem;
}

.busca h4,
.categorias h4,
.tags h4{
    display: flex;
    margin-bottom: 0.5rem;
}

.categorias li{
    margin-bottom: 1rem;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tags a {
    background-color: #b9b7b79a;
    padding: .5rem 0.7rem;
    border: 0.3rem;
    border: 0.3rem;
    display: inline-block; 
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Footer */

footer{
    border-top: 2px solid #9e9e9e;
    padding: 3rem;
    text-align: center;
}

footer h2,
footer p{
    margin-bottom: 0.5rem;
}

/* Responsividade */

@media (max-width:450px){
    .container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px){
    .container{
        flex-direction: column;
    }

    .side-bar {
        width: 80%;
    }
}